body {
    font-family: 'Roboto', sans-serif;
    background-image: url("watercolor-blue.jpg");
    background-repeat: repeat;
    background-size: 400px 400px;
    background-color: #f5f9ff;
    margin: 20px;
}

.profile-pic {
    float: right;
    width: 40%;
    max-width: 400px;
    height: auto;
    margin: 0 0 15px 15px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.haiku {
    margin-left: 40px;
    font-style: italic;
}

.schedule th,
.schedule td {
    vertical-align: top;
    text-align: left;
    width: 140px;
}

.work { background-color: #fff3a0; }
.cs2300 { background-color: #f4b6b6; }
.cs2550 { background-color: #d7c6ff; }
.cs2810 { background-color: #c6e2ff; }
.math { background-color: #c6ffc6; }
.workout { background-color: #b6e8ff; }
.commute { background-color: #eeeeee; }
